<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{% include head.html %}


<body>
  <!-- <div class="backgroundImg">
  </div> -->

<!-- <div class="fullimg"> -->

<div><img id="fullback" class="backgroundImg" src="/images/backend.jpg" /></div>

<div id="mobileDivfixed" class="mobileDivfixed">
{% include nav.html %}
</div>

  <div id="divfixed" class="divfixed">
    <nav class="nav ">
      <div class="nav-container" >
        <a href="{{ site.baseurl | prepend: site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }} </h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl | prepend: site.baseurl }}/">首页</a></li>
          <li><a href="{{ '/outline' | prepend: site.baseurl }}/">评论目录</a></li>
          <li><a href="{{ '/tags' | prepend: site.baseurl }}/">小说目录</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">关于我们</a></li>
          <li><a href="{{ '/joinus' | prepend: site.baseurl }}/">加入我们</a></li>
          <li><a href="{{ '/contact' | prepend: site.baseurl }}">联系</a></li>
          <li><a href="{{ '/donate' | prepend: site.baseurl }}">捐赠</a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div id="aboutUsText" class="container aboutUsText" >
    <div class="columns spacing" >
      <div class="column half">
        <h1>Commenting Network-Novels </h1>
      </div>
    </div>

    <div class="columns spacing">
      <div class="column half">
        <p class="post-hero center-text spacing">
          <a href="{{ '/outline' | prepend: site.baseurl }}/" class="font_2em a_red_color">{{ site.posts.size}} </a>篇评论文章
          <span class="divingLine">|</span>
          <a href="{{ '/tags' | prepend: site.baseurl }}/" class="font_2em a_red_color">{{ site.tags.size}} </a>篇小说的评论
        </p>
      </div>
    </div>

    <div class="columns spacing">
      <div class="column half">
        <p class="post-hero center-text spacing font_1_2em">
          使命：<strong>  评论</strong>网络小说，，<strong>推荐</strong>给你优秀、好看的小说。
        </p>
      </div>
    </div>
  </div>

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>

</html>
