<!DOCTYPE html>
<html lang="zh-cmn_Hans">

  {% include head.html %}
<!-- {{ post.excerpt | remove: '<p>' | remove: '</p>' }} -->
  <body>

    <main>
      {{ content }}
    </main>

  </body>
</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91050128-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-91050128-1');
</script>
